*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.box-shape{
    max-width: 1260px;
    margin: 0 auto;
}

.line{
     border-bottom: 1px solid rgba(65, 37, 103, 1);
}

.sub-title{
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
}

.hidden-pc{
    display: none;
}


/* header style */

header {
    background-color: #1A0B2E;
}

/* navbar style */
.nav-logo img{
    width: 220px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px; 
}

nav li {
    list-style: none;
}

nav a{
    text-decoration: none;
    color: white;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: white;
    gap: 5px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 16px;
    background: linear-gradient(47.64deg, #f7e93f, #fb09b4, #9100f8, #f7e93f);
    background-size: 300% 300%; 
    animation: gradient-flow 4s ease infinite;  
    cursor: pointer;
}

.nav-button button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(251, 9, 180, 0.3);
    transition: all 0.3s ease;
}

/* hero section style */
.hero-section{
    border-top: 1px solid rgba(65, 37, 103, 1);
    height: 760px;
    background-image: url(../assets/hero-bg.png);
    background-size: contain;
    background-position: center; 
}

.hero-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding-bottom:50px;
}

.hero-div h1{
    font-size: 60px;
    font-weight: 800;
    color: white;
}

.hero-bg{
    position: relative;
    width: 21.85rem;
    height: 21.85rem;
    
}

.hero{
    height: 100%;
    width: 100%;
    background-image: url(../assets/hero-circle.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-grp{
    display: flex;
    gap: 15px;
}

.hero-btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: white;
    gap: 5px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 16px;
    background: linear-gradient(47.64deg, #f7e93f, #fb09b4, #9100f8, #f7e93f);
    background-size: 300% 300%; 
    animation: gradient-flow 4s ease infinite; 
    cursor: pointer;
}

.hero-btn1:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(251, 30, 185, 0.3);
    transition: all 0.3s ease;
}

.hero-btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: rgba(255, 255, 255, 0);
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    color: #00FF88;
    padding: 12px 20px;
    border: 2px solid #00FF88;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.hero-btn2:hover {
    background-color: #00FF88; 
    color: #000000;           
    box-shadow: 0 0 20px rgba(0, 255, 136, 0.6); 
    transform: translateY(-5px); 
}

.tooltip{
    position: absolute;
    top: 15px;
    right: 30px;
}
.tooltip button{
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 30px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    border: none;
    animation: blinker 2s linear infinite;
}

/* about section style */
.about-container{
    background-color:rgb(27, 12, 47) ;
    margin-top: -1px;
    padding:40px 20px ;
}

.about-des{
    text-align: center; 
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 10px;
}
.about-des h1{
   font-family: Inter;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    color:white;
}
.about-des p{
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.8;
    color:white;
}

.about-stats{
    border-top: 1px solid rgba(65, 37, 103, 1);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding: 50px 10px;
}

.stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.stats h2{
    font-family: Inter;
    font-style: Black;
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
}
.stats p{
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.8;
    color:white;
    text-transform: capitalize;
}

/* choose section style */
.choose-container{
    background-color:rgba(35, 14, 61, 1);
    padding: 30px 30px 90px 30px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 22px;
}
.tall{
    grid-row: span 2;
}
.mobile{
    grid-column:span 2;
}
.global{
    grid-column:span 2;
}
.wide{
    grid-column: span 2;
}
.rich{
    grid-column: span 1;
}


.card{
    width: 100%;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    padding: 25px;
}

.card img{
    width: 50px;
}

.card h3{
    font-family: Inter;
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.card p{
    color: rgba(255, 255, 255, 0.668);
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
}


/* feature section style */

.features{
    background-color: rgba(37, 13, 68, 1);
    border-radius: 24px;
}

.feature-container{
    display: flex;
    gap: 20px;
}

.video-des, .time {
    padding:0px 24px;
}

iframe{
    width: 100%;
    border-radius: 24px 24px 0 0;
}

.time{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 0 15px 24px;
}

.time-count{
    color: #00FF88 !important;
    
}

.time img{
    width: 20px;
    height: 20px;
}

.features h3 , .host h3{
    font-family: Inter;
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    color: white;
    padding: 15px 0 0 0 ;
}

.features p, .host p{
    margin: 15px 0;
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.561);
}

/* host section style */

.host{
    background-color: rgba(37, 13, 68, 1);
    border-radius: 30px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 50px;
}

.social img{
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 50px;
}

/* footer section style */

.footer-section{
    height: 400px;
    background-image: url(../assets/footer-bg.png);
    background-size: contain;
    background-position: center; 
}

.footer-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px;
}

.footer-div p{
    color: rgba(250, 250, 250, 0.609);
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
}
.social-grp{
    display: flex;
    justify-content: space-between;
    gap:40px;
}

.footer-social{
    display: flex;
    gap: 10px;
}


@media screen and (max-width : 576px) {
    /* navbar style */
    .hidden-mobile{
        display: none;
    }
    .hidden-pc{
        display: block;
    }
    nav{
       padding: 16px 20px;
    }
    .nav-logo img{
        width: 140px;
    }

    /* hero section */
    .hero-section{
        height: 620px;
        background-repeat: no-repeat;
        padding: 10px 20px;
    }
    .hero-div h1{
        font-size: 40px;
    }
    .hero-div p{
        text-align: center;
    }
    .hero-bg{
        width: 17rem;
        height: 17rem;
    }
    .hero{
       background-position: center;
       background-size: contain;
    }
    .hero img{
        width: 80px;
    }
    .tooltip{
        position: absolute;
        top: 10px;
        right: 20px;
    }

    /* about section */
    .about-des h1{
        font-size: 32px;
        padding: 20px 2px;
    }
    .about-des{
        padding: 15px 5px;
    }
    .about-stats{
        grid-template-columns: repeat(2,1fr);
    }

    /* choose section style */
   .cards{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);
    }

    /* feature section style */

    .feature-container{
        flex-direction: column;
    }

    /* host section style */
    .host{
       flex-direction: column; 
       text-align: center;   
   }

   /* footer section style */

   .footer-section{
        background-color: #00FF88;
        height: 260px;
        background-repeat:no-repeat;
        background-size:cover;
        background-position: center;
    }

   .footer-logo img{
    width: 220px;
   }

   .footer-div{
    padding: 20px 30px;
   }

   .footer-div p{
        font-size: 12px;
    }

   .social-grp{
        flex-wrap: wrap;
        gap: 15px;
    }
 
}




/* Defining the Blink */
@keyframes blinker {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  25% {
    transform: scale(1.2) rotate(-3deg);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.3) rotate(3deg);
    opacity: 1;
  }
  75% {
    transform: scale(1.2) rotate(-3deg);
    opacity: 0.8;
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

@keyframes gradient-flow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}