*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.box-shape{
    max-width: 1260px;
    margin: 0 auto;
}

.line{
     border-bottom: 1px solid rgba(65, 37, 103, 1);
}

/* header style */

header {
    background-color: #1A0B2E;
}

/* navbar style */
.nav-logo img{
    width: 220px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
   
}
nav li {
    list-style: none;
}

nav a{
    text-decoration: none;
    color: white;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: white;
    gap: 5px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 16px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));  
}

/* hero section style */
.hero-section{
    border-top: 1px solid rgba(65, 37, 103, 1);
    height: 760px;
    background-image: url(../assets/hero-bg.png);
    background-size: contain;
    background-position: center;
}

.hero-div{
    height: 100%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding-bottom:50px;
}

.hero-bg{
    width: 21.85rem;
    height: 21.85rem;
    background-image: url(../assets/hero-circle.png);
}

.hero{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}